In [17]:
import numpy as np
import pandas as pd

from sklearn.feature_extraction import DictVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from scipy.sparse import hstack
from sklearn.preprocessing import LabelEncoder

from datetime import date
from IPython.core import display as ICD

In [38]:
item_categories = pd.read_csv('item_categories-translated.csv')
items = pd.read_csv('items-translated.csv')
shops = pd.read_csv('shops-translated.csv')
items_rus = pd.read_csv('items_rus.csv')

In [40]:
data_list = [items, items_rus, item_categories, shops]
for data in data_list:
    #для печати нескольких фреймов pandas в формате HTML
    ICD.display(data.head())

   item_id                               item_name_translated
0        0                in the power of happiness  plast  d
1        1    abbyy finereader 12 professional edition ful...
2        2                  in the glory of the glory  unv  d
3        3                                 blue wave  univ  d
4        4                                      box  glass  d

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

   item_category_id item_category_name_translated  item_category_new  sub_cat
0                 0                            pc                 65       11
1                 1                          game                 24        5
2                 2                          game                 25        5
3                 3                          game                 26        5
4                 4                          game                 27        5

   shop_id                   shop_name_translated        city  city_code
0        0       yakutsk ordzhonikidze  56 francs     yakutsk         28
1        1             yakutsk tc  central  franc     yakutsk         28
2        2          adygea shopping center  mega       adygea          0
3        3       balashikha trk  october kinomir   balashikha          1
4        4  volzhsky shopping center  volga mall     volzhsky         26

In [41]:
items_rus.shape, items.shape

((22170, 3), (22170, 2))

In [20]:
shops['shop_name_translated'] = shops['shop_name_translated'].str.lower()
shops['shop_name_translated'] = shops['shop_name_translated'].replace('[^a-zA-Z0-9]', ' ', regex = True)
items['item_name_translated'] = items['item_name_translated'].str.lower()
items['item_name_translated'] = items['item_name_translated'].replace('[^a-zA-Z0-9]', ' ', regex = True)
item_categories['item_category_name_translated'] = item_categories['item_category_name_translated'].str.lower()
item_categories['item_category_name_translated'] = item_categories['item_category_name_translated'].replace('[^a-zA-Z0-9]', ' ', regex = True)

In [22]:
shops['city'] = shops.shop_name_translated.str.extract(r'(\w+)',expand=False)

In [23]:
shops.loc[shops['shop_id']==34, 'city'] = 'novgorod' 
shops.loc[shops['shop_id']==39, 'city'] = 'rostovnadonu' 
shops.loc[shops['shop_id']==55, 'city'] = 'online'

In [24]:
shops['city_code'] = LabelEncoder().fit_transform(shops['city'])

In [25]:
item_categories.head()

   item_category_id item_category_name_translated
0                 0    pc   headsets   headphones
1                 1             accessories   ps2
2                 2             accessories   ps3
3                 3             accessories   ps4
4                 4             accessories   psp

In [26]:
for i in range(1,8):
    item_categories['item_category_name_translated'][i] = item_categories['item_category_name_translated'][i+9]

/home/stepab1987/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [27]:
item_categories['item_category_new'] = LabelEncoder().fit_transform(item_categories['item_category_name_translated'])

In [28]:
item_categories['sub_cat'] = item_categories.item_category_name_translated.str.extract(r'(game)',expand=False)

In [29]:
item_categories['item_category_name_translated'] = item_categories.item_category_name_translated.str.extract(r'(\w+)',expand=False)

In [30]:
item_categories['sub_cat'].fillna(item_categories['item_category_name_translated'], inplace=True)

In [31]:
item_categories['sub_cat'].fillna('zero', inplace=True)

In [32]:
item_categories['sub_cat'] = LabelEncoder().fit_transform(item_categories['sub_cat'])

In [45]:
items['item_category_id'] = items_rus['item_category_id'].values

In [46]:
item_categories.to_csv('item_categories-translated.csv', index = False)
items.to_csv('items-translated.csv', index = False)
shops.to_csv('shops-translated.csv', index = False)